.body {
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  font-size: medium;
  color: gray;
}

.footNote {
}

.success{
  display:flex ;
  justify-content: space-evenly;
}
.stories-section h1{
text-align: center;
padding-bottom: 20px;
color: #ffff;
}
.stories-section{
  background-color: #314455;
  padding: 20px;
}