.images{
width: 305px;
height: 200px;
   
}
.program1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.all-programs{
    width: 120%;
    padding: 20px;
    margin: 2%;
   
}